rsync.json
{
  "name": "rsync",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {
          "messageStatusUpdates": [
            "all"
          ]
        }
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        -3860,
        0
      ],
      "id": "a1619adf-f6b9-422e-a7ce-1088fe5dfcb7",
      "name": "WhatsApp Trigger",
      "webhookId": "facc3b23-eb09-4e40-bf3a-feba2e2d5be5",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "3tijXL5Ry8rA8nYq",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.messages[0].audio }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "ea066616-421f-446f-8a87-1c43db041167"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "87a4c808-e280-4306-afa8-aca1d31c0533",
                    "leftValue": "={{ $json.messages[0].text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5c464718-a793-456c-af22-d2f93f6b0717",
                    "leftValue": "={{ $json.messages[0].document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f837ae03-e123-49ed-b76b-ba23319de785",
                    "leftValue": "={{ $json.messages[0].image }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3600,
        -20
      ],
      "id": "b1a03da2-9650-4ec9-90f3-5b8855e6cf19",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3120,
        -920
      ],
      "id": "31811185-a8de-43de-9cb2-2050a30e20c3",
      "name": "Download Audio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rfwaiRNTCrJswkEG",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -2900,
        -920
      ],
      "id": "3ca63998-186b-45c9-8e9a-80d738ab7109",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "3Bfip01C8oYvKUqp",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1aee819c-1b49-483e-92d9-ad39560cdadc",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "dd1e34c7-2147-4b42-a555-b64fb04a3da9",
              "name": "phoneNumber",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "cb019ebe-412b-4d28-a37a-f83514a2b717",
              "name": "source",
              "value": "WhatsApp Trigger",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -900
      ],
      "id": "02d4e06e-8d8b-4c5a-8536-af92461512e8",
      "name": "Audio Prompt"
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].audio.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -3340,
        -920
      ],
      "id": "164a01d3-ca50-4fb2-a5fb-6da9514ce975",
      "name": "Get Audio URL",
      "webhookId": "bbc45978-ffae-41e6-9796-44ead153b0c6",
      "credentials": {
        "whatsAppApi": {
          "id": "oHjad5Vconv3UjgN",
          "name": "WhatsApp Reply"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "operation": "mediaUrlGet",
        "mediaGetId": "={{ $json.messages[0].document.id }}"
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -3320,
        -380
      ],
      "id": "589e71c7-7a50-4d4c-853e-153f89188acd",
      "name": "Get Document URL",
      "webhookId": "e656d38a-5b70-41f6-b78a-b2107ceaf6c2",
      "credentials": {
        "whatsAppApi": {
          "id": "oHjad5Vconv3UjgN",
          "name": "WhatsApp Reply"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2840,
        -380
      ],
      "id": "79230234-d523-4065-8ce5-17a19e74ec0f",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "rfwaiRNTCrJswkEG",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -2360,
        -700
      ],
      "id": "bc9771a5-8086-4729-863d-1db3045b1784",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fa8f01b9-94a8-4618-a90b-52b0dd553b8a",
              "leftValue": "={{ $binary.data.mimeType }}",
              "rightValue": "application/pdf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2540,
        -380
      ],
      "id": "94a101c2-1831-44d6-ba45-75d40cc9c749",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "caab1234-6171-435c-b25f-a2854739227e",
              "name": "text",
              "value": "user uploaded non supported file type. ask user to pload resume in pdf.",
              "type": "string"
            },
            {
              "id": "900deaa4-541e-40fb-b81d-380b7e0b1d0e",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "b7b34fb2-7c5f-4bac-b075-03df49f4104d",
              "name": "source",
              "value": "WhatsApp Trigger",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -340
      ],
      "id": "217a917a-eb5e-4b10-a207-58ebf96577a2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a resume validator. Analyze the provided text and determine if it's a resume/CV. A resume typically contains:\n- Personal information (name, contact details)\n- Work experience/employment history\n- Education background\n- Skills section\n- Professional summary/objective\n\nRespond with only 'YES' if it's a resume, or 'NO' if it's not a resume. Do not provide explanations."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -1880,
        -700
      ],
      "id": "959f9ae8-8b08-47a8-889f-f36726e83bec",
      "name": "Resume Validator"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.trim().toUpperCase() }}",
                    "rightValue": "YES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "581ff9c2-eae7-4505-8cae-5b40765ae20c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Valid_Resume"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d20e365b-1a2a-480d-ac40-29057757eaa0",
                    "leftValue": "={{ $json.output.trim().toUpperCase() }}",
                    "rightValue": "NO",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Invalid_Resume"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1300,
        -700
      ],
      "id": "2de87322-6be0-437e-8c8e-9b2c1a26dffb",
      "name": "isValid"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1760,
        160
      ],
      "id": "93c9db9a-57fd-49a9-b4e7-479c1c0a55f5",
      "name": "AI Model",
      "credentials": {
        "openAiApi": {
          "id": "3Bfip01C8oYvKUqp",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.phoneNumber }}",
        "databaseName": "n8n",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryMongoDbChat",
      "typeVersion": 1,
      "position": [
        1880,
        160
      ],
      "id": "91446b17-7fee-4fa2-ba91-db395003f974",
      "name": "AI Memory",
      "credentials": {
        "mongoDb": {
          "id": "S06HMLytAGcpawM1",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1880,
        -520
      ],
      "id": "aa2b20c4-d05c-4451-b13b-15549586d8b6",
      "name": "AI Validate Resume",
      "credentials": {
        "openAiApi": {
          "id": "3Bfip01C8oYvKUqp",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e616bfa4-ad20-449e-b6fb-9715416f8fc8",
              "name": "text",
              "value": "={{ $json.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "c79e59cc-e0a6-4fe1-b47d-481cb547d052",
              "name": "phoneNumber",
              "value": "={{ $json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "aeb93593-0b48-41db-a34d-47170c8c34fc",
              "name": "source",
              "value": "WhatsApp Trigger",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -700,
        -20
      ],
      "id": "2d3223b6-5fb0-409e-8ba5-7dcdd2deb524",
      "name": "Text Only Prompt"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "subscribe",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -3860,
        -1420
      ],
      "id": "c06350b6-43c3-4c13-a3d6-fe8deb684044",
      "name": "Webhook",
      "webhookId": "307b105c-d822-43f6-9dbc-dd5dbc555c13"
    },
    {
      "parameters": {
        "operation": "get",
        "tableName": "rsync-users",
        "select": "SPECIFIC_ATTRIBUTES",
        "keysUi": {
          "keyValues": [
            {
              "key": "phoneNumber",
              "type": "N",
              "value": "={{ $json.body.phone_number }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -3400,
        -1420
      ],
      "id": "81d1c469-19a5-408a-a626-0cc7bd271853",
      "name": "User Lookup",
      "alwaysOutputData": true,
      "notesInFlow": false,
      "credentials": {
        "aws": {
          "id": "s0FymeCVCIEzzMyN",
          "name": "aws"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "e8d43a0a-8d41-4490-ab40-5e0f0ed67793",
              "leftValue": "={{ $('User Lookup').item.json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -3120,
        -1420
      ],
      "id": "107a4634-b261-4838-988c-6c3c1c4256e9",
      "name": "Check User",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"result\": \"user added\"\n}",
        "options": {
          "responseCode": 200
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2000,
        -1280
      ],
      "id": "b28abd68-aba7-424d-8ff3-12d346051e4b",
      "name": "user added"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"error\": \"user exists\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -2300,
        -1580
      ],
      "id": "98796665-2d65-40e7-a0a8-c75c407b29e5",
      "name": "user exists"
    },
    {
      "parameters": {
        "tableName": "rsync-users",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phoneNumber",
              "fieldValue": "={{ $('Webhook').item.json.body.phone_number }}"
            },
            {
              "fieldId": "name",
              "fieldValue": "={{ $('Webhook').item.json.body.name }}"
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        -2280,
        -1280
      ],
      "id": "c3612117-dd0b-4b78-ba70-ef391f03cc02",
      "name": "add user record",
      "credentials": {
        "aws": {
          "id": "s0FymeCVCIEzzMyN",
          "name": "aws"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "189eec02-71f9-412d-aeee-3372f8eec3c7",
              "name": "phoneNumber",
              "value": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
              "type": "string"
            },
            {
              "id": "00f37943-afba-45e7-a96c-65656796347a",
              "name": "url",
              "value": "={{ $json.url }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3080,
        -380
      ],
      "id": "9e18afc3-8830-4931-82fd-0551ccb31072",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "22d2d4e5-bb8e-414a-9bc6-ba7d5e7947dd",
              "name": "phoneNumber",
              "value": "={{ $('Edit Fields1').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "69e9b005-459f-4c10-86fe-1cada9928edb",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2140,
        -700
      ],
      "id": "8b937704-b1dc-4122-b538-889dd9a6fba9",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0a4b6554-ac65-4a9a-8c51-444a3050a58b",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "3849afc2-e30d-467e-b2df-890d2fe8b5b7",
              "name": "phoneNumber",
              "value": "={{ $('Edit Fields3').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "192e6e9c-2cae-4824-8020-b5db1091a369",
              "name": "text",
              "value": "={{ $('Edit Fields3').item.json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1500,
        -700
      ],
      "id": "4aad90cc-3cbd-4425-abae-572715574b04",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "630936206780909",
        "recipientPhoneNumber": "={{ $json.phoneNumber }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2480,
        -200
      ],
      "id": "e15d8ed4-e370-42ec-8392-2f7da2737120",
      "name": "Send message",
      "webhookId": "613d86e4-91ba-4657-8837-99e53fdfd9b6",
      "credentials": {
        "whatsAppApi": {
          "id": "oHjad5Vconv3UjgN",
          "name": "WhatsApp Reply"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2fb82c0b-f1d8-4d9d-b257-583339422a3c",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "445a9719-ed28-43ce-8cac-4ba9d5c6bd31",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "2b24b639-5fdd-4b09-9d2a-6999d363deb7",
              "name": "=source",
              "value": "={{ $json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -340
      ],
      "id": "afcf48d0-7752-4620-ac14-3e3264d96e94",
      "name": "phoneNumber"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Action: {{ $json.type }}\nMessage: {{ $json.text }}",
        "options": {
          "systemMessage": "=You are \"rsync\" - a resume update assistant. Your ONLY purpose is to help users keep their resume updated by collecting weekly work updates.\n\nCORE FUNCTIONS:\n1. Collect weekly work updates from users\n2. Ensure updates include workplace impact and contributions\n3. Store professional updates in database\n4. Share stored updates when requested\n5. Handle resume file uploads (PDF only)\n\nRESPONSE STYLE:\n- Friendly, casual, short and precise\n- Professional tone for work-related discussions\n- No lengthy explanations\n\nWEEKLY UPDATE REQUIREMENTS:\nAsk follow-up questions if user doesn't clearly mention:\n- Last week's learnings\n- Last week's contributions to workplace\n- Last week's work impact in workplace\n\nGREETING RESPONSES:\n- \"Hey! Ready for your weekly update?\"\n- \"Hi there! How was your week at work?\"\n- \"Hello! Time to capture this week's achievements?\"\n\nMEMORY USAGE:\n- Remember all user conversations. User can share update in different messages, you should make complete update in following format [things they learned, things they contributed to their workplace, impact they made to their workplace]\n- Once user update satisfies things they learned, things they contributed to their workplace, impact they made to their workplace] make it sound professional ask user to verify if that is the way he want to store in memory.\n- User can have multiple updates in a week. we should store them accordingly. \n- Store conversation context\n\nSTRICT BOUNDARIES:\n- ONLY resume updates - refuse all other requests\n- Response: \"I'm designed specifically for resume updates. How can I help you track your weekly work progress?\"\n- Accept PDF resumes only\n- Don't return full resume content in responses\n\nRESUME HANDLING:\n- First interaction: \"Please share your current resume in PDF format\"\n- After upload: \"Thanks! Resume stored. Now, tell me about your work this week.\"\n- For new resumes: \"Got your updated resume. What's new this week?\"\n\nCONTEXT AWARENESS:\n- Message Type: {{ $json.type }}\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1760,
        -200
      ],
      "id": "d2b3ad89-a95d-4082-8902-e1532c4790b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "09bca2d0-517a-43a0-a4b8-98a71464a378",
              "name": "phoneNumber",
              "value": "={{ $('phoneNumber').item.json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "71a73aa5-6259-425a-aee6-01d038c8f588",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            },
            {
              "id": "adad2d62-fb9f-4567-983e-5104a8f5a641",
              "name": "source",
              "value": "={{ $('phoneNumber').item.json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2180,
        -200
      ],
      "id": "50414b1a-f3c3-478d-90fa-a33e04a37dd3",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d1f7f8ff-2cab-43a6-bc54-ca111f01cf1a",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "84ccb767-d529-4c5f-a2af-fa7ff5e1e9d0",
              "name": "text",
              "value": "looks like uploaded file is not a resume",
              "type": "string"
            },
            {
              "id": "2488b68e-5f65-4ebe-9fc7-a1b2fccb9827",
              "name": "source",
              "value": "WhatsApp Trigger",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -520
      ],
      "id": "c6a69cac-0bc1-4d2e-9394-9ca7f90aa5c9",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableName": "rsync-users",
        "scan": true,
        "returnAll": true,
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.awsDynamoDb",
      "typeVersion": 1,
      "position": [
        840,
        540
      ],
      "id": "908ca0b8-14ca-46ee-96ba-6af4a9f5e41c",
      "name": "Get many items",
      "credentials": {
        "aws": {
          "id": "s0FymeCVCIEzzMyN",
          "name": "aws"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        540,
        540
      ],
      "id": "1f2cb818-ff08-415d-85f7-0d217412044b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "56705e73-74ba-4a8e-8e21-56cbf6b79eed",
              "leftValue": "={{ $json.source }}",
              "rightValue": "=WhatsApp Trigger",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3000,
        -200
      ],
      "id": "2045c0e7-094c-4d5c-99d7-4dafe3c77e9f",
      "name": "If1",
      "executeOnce": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a781e742-ef97-49b6-90d1-9c4fd41cd332",
              "name": "source",
              "value": "={{ $('phoneNumber').item.json.source }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2760,
        -200
      ],
      "id": "d2c77d00-7e6a-4910-b39e-6e64c24018e0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a00ee257-3d18-4af5-bd32-67259b06fdde",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber.N }}",
              "type": "string"
            },
            {
              "id": "6eeafc73-eba5-4469-9df6-d9168eb3d730",
              "name": "text",
              "value": "=ask {{ $json.name.S }} to share weekly uupdate",
              "type": "string"
            },
            {
              "id": "d07f0221-5271-4312-b259-c0bce25a0a0e",
              "name": "source",
              "value": "cron",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3460,
        560
      ],
      "id": "c27b2570-110e-439c-ba33-46ae067257e8",
      "name": "Edit Fields7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        3140,
        540
      ],
      "id": "eb7820cb-ea69-4955-bc14-965e1f319ee7",
      "name": "Loop Over Items",
      "executeOnce": true
    },
    {
      "parameters": {
        "phoneNumberId": "630936206780909",
        "recipientPhoneNumber": "=\"{{ $json.phoneNumber }}\"",
        "template": "rsync_welcome_message|en",
        "components": {
          "component": [
            {
              "bodyParameters": {
                "parameter": [
                  {
                    "text": "={{ $json.name }}"
                  }
                ]
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        -1740,
        -1280
      ],
      "id": "b10d2778-6003-401b-a84a-0c1f333fc5b7",
      "name": "Send template",
      "webhookId": "faef9ede-559d-4dfd-bb60-7581668fc8ca",
      "credentials": {
        "whatsAppApi": {
          "id": "oHjad5Vconv3UjgN",
          "name": "WhatsApp Reply"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.text }}",
        "categories": {
          "categories": [
            {
              "category": "STOP",
              "description": "User wants to stop receiving messages. Keywords is STOP"
            },
            {
              "category": "USER_QUESTION",
              "description": "User is asking specific questions about rsync. Example: How can i get my previous weekly updates?"
            },
            {
              "category": "USER_GREETING",
              "description": "User is greeting or engaging in social conversation. Examples: hi, hello, hey, good morning, good evening, how are you, thanks, thank you, bye, goodbye, see you"
            },
            {
              "category": "RSYNC_HELP",
              "description": "User is requesting explanations about rsync. Examples: how does rsync work. Keyword: HELP"
            },
            {
              "category": "OFF_TOPIC",
              "description": "User is asking about topics unrelated to rsync, resume, or career development. General questions about other technologies, personal topics, or unrelated discussions"
            },
            {
              "category": "RSYNC_FOLLOWUP_WITH_USER_FOR_WEEKLY_UPDATE",
              "description": "=Rsync asks user to share his weekly update. Example: ask user to share weekly update"
            },
            {
              "category": "USER_RESUME_CORRECT",
              "description": "User shared their resume in right format. Usually contains their Name skills work experience"
            },
            {
              "category": "USER_RESUME_WRONG",
              "description": "User shared resume in wrong format, rsync system wasnt able to process it . Example:  looks like uploaded file is not a resume"
            },
            {
              "category": "USER_INCOMPLETE_UPDATE",
              "description": "User is providing short information about  their update, things they learn, contribution to company.   \nExample 1: Learned n8n, \nExample 2: Implemented automation.\nExample 3: Resolved manual task of marketing team\nAs user shared incomplete update, we should ask user to clearify their learnings in the previous week, contributions they make to the company, impact of the contribution. \nUser can share learnings, contributions and impact in different message, you should track it. \n\n"
            },
            {
              "category": "USER_COMPLETE_UPDATE",
              "description": "User is providing complete information about  their update, things they learn, contribution to company.    \nExample 1: Learned n8n, Implemented automation, Resolved manual task of marketing team As user shared incomplete update, \n\nWe should make it shound professional and ask user if it looks good to him. If user complains, we should rephrase. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        620,
        -460
      ],
      "id": "34c53199-dfb0-49b8-959c-b4a1ec8fc0bc",
      "name": "Text Classifier",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        620,
        -20
      ],
      "id": "fa155fca-75fb-44f0-928d-7b1f846122e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3Bfip01C8oYvKUqp",
          "name": "OpenAi Account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3558b90e-ab07-4b9c-b1f3-3a5c5249b7ea",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "8c9412c7-f866-4462-93d9-c12f51bfc3a4",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -720
      ],
      "id": "537d8fd4-5c59-4b13-9e01-e947efc05724",
      "name": "Edit Fields8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "08a90911-6a28-4af5-b68e-37a6a365733b",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "1dfc5da5-2c3d-4c93-b507-ba8a85099493",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "38adb581-cba9-4bec-960c-26a56efa962f",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "2b0532d4-43d5-4bb0-8ab5-f8d62b5827b0",
              "name": "type",
              "value": "userQuestion",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -1040
      ],
      "id": "da37da2a-c0d7-486b-bff6-cf5c357575b3",
      "name": "userQuestion"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "340354ee-5d4f-46d4-b455-c3d9dfa02faf",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "0186300d-f19c-4ac5-91b3-9855d2f8daed",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "773a3006-da2f-48f2-9a15-fe9fd0cde615",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "b812e2fe-a9eb-4951-a590-b82b36f5ed93",
              "name": "type",
              "value": "userGreetings",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -880
      ],
      "id": "91324607-c537-4960-9077-679adb2e8d4c",
      "name": "userGreetings"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "89f01897-7230-47a4-98b4-3f73d7cf53eb",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "05a9e6cd-cb01-4dd3-840e-2ad3249b750c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "e08c902a-4e4d-4023-9a88-8137ea8e6b96",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "9153ca9a-33a4-4e4f-a1fc-939afe40d652",
              "name": "type",
              "value": "userHelp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -720
      ],
      "id": "1939204d-1e3c-4911-9867-8d9e4092bc05",
      "name": "userHelp"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b7fe0b53-0158-4d11-be72-1bdd67f8fb34",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "c2c37d1b-1f29-4755-8d97-9903250c2fb2",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "421b2933-813b-4178-9fd3-24838279319b",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "5810c112-585b-4210-9828-fd393df5338a",
              "name": "type",
              "value": "offTopic",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -560
      ],
      "id": "16ad70a8-df03-40b6-a2ff-a601cdcc7036",
      "name": "offTopic"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d253190c-1303-46b5-bdb8-c944bb5b9d57",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "fadbe8da-7ed2-4d82-8e6f-04b51653d392",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "5ee690ba-331d-492e-8896-b8a65eccbc74",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "f768077b-21bf-46ff-8c34-2058d8ba3efd",
              "name": "type",
              "value": "rsyncFollowUpWithUserForUpdate",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -380
      ],
      "id": "e1e1b001-ea76-434a-afee-461f83bd31b8",
      "name": "rsyncFollowUpWithUserForUpdate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2c4cab5-155d-4b93-8f30-130709a99efa",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "55b13d1e-85c5-4e46-af2d-b3ae83baf831",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0c856b85-a006-4b15-84e0-9690233053a7",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "bc7677b1-8a87-4d68-b836-588f8078e8c8",
              "name": "type",
              "value": "userResumeCorrect",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -200
      ],
      "id": "65287296-1159-4234-82bb-a81420f73ca6",
      "name": "userResumeCorrect"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ff1e5836-04ef-46d8-9b31-69ca4c23f786",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "bbf6ec1e-4e19-42bb-a1f8-699e7849e815",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "e25f7941-ac05-4982-baa4-c99f6cefa9c6",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "68a73210-c44c-4ffd-a0d1-89251e07b163",
              "name": "type",
              "value": "userResumeWrong",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        -20
      ],
      "id": "1d274d69-8c7f-49c6-a08d-f9c70bb5218f",
      "name": "userResumeWrong"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6277933e-8041-41e3-8769-b50394578e70",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "fa4a547a-a3d1-4c69-b79c-9b282dbe1cfe",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0361f937-1cbb-4744-ac9d-688ef27d38c0",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "e83e3315-b041-4d37-a778-d3cf619a3608",
              "name": "type",
              "value": "userIncompleteUpdate",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        160
      ],
      "id": "d55112b1-c97a-45a6-9986-c6fc8a657f46",
      "name": "userIncompleteUpdate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6277933e-8041-41e3-8769-b50394578e70",
              "name": "phoneNumber",
              "value": "={{ $json.phoneNumber }}",
              "type": "string"
            },
            {
              "id": "fa4a547a-a3d1-4c69-b79c-9b282dbe1cfe",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "0361f937-1cbb-4744-ac9d-688ef27d38c0",
              "name": "source",
              "value": "={{ $json.source }}",
              "type": "string"
            },
            {
              "id": "e83e3315-b041-4d37-a778-d3cf619a3608",
              "name": "type",
              "value": "userCompleteUpdate",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1260,
        360
      ],
      "id": "bf3b4000-5c0e-4d16-b5ab-58f7ba8a43fe",
      "name": "userCompleteUpdate"
    }
  ],
  "pinData": {},
  "connections": {
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Only Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Document URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Audio Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Audio Prompt": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio URL": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document URL": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resume Validator": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isValid": {
      "main": [
        [
          {
            "node": "Edit Fields8",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Validate Resume": {
      "ai_languageModel": [
        [
          {
            "node": "Resume Validator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Only Prompt": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "User Lookup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Lookup": {
      "main": [
        [
          {
            "node": "Check User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check User": {
      "main": [
        [
          {
            "node": "add user record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "user exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add user record": {
      "main": [
        [
          {
            "node": "user added",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Resume Validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "isValid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "phoneNumber": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Get many items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "user added": {
      "main": [
        [
          {
            "node": "Send template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields8": {
      "main": [
        [
          {
            "node": "phoneNumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [],
        [
          {
            "node": "userQuestion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userGreetings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userHelp",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "offTopic",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "rsyncFollowUpWithUserForUpdate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userResumeCorrect",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userResumeWrong",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userIncompleteUpdate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "userCompleteUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userQuestion": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userGreetings": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userHelp": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "offTopic": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rsyncFollowUpWithUserForUpdate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userResumeCorrect": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userResumeWrong": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userIncompleteUpdate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "userCompleteUpdate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a8e3138b-b8e2-4c59-aefc-56b3b87677be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07c6ef78a35c2883a05a3ad010352ba4756c8216f45cb3d16a147f646cae9bce"
  },
  "id": "062TdCrIMTv4XVUL",
  "tags": []
}